<div class="container-fluid">
    <div class="conversation pt-4">
        <div class="col-12">
        </div>
    </div>
    <div class="typing">
        <span id="someoneistyping"><span class="at">@</span><span id="userTyping"></span> is typing...</span>
        <br><span class="indicator">></span>
        <textarea id="typing" maxlength="102422" class="typingArea" placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off"
            spellcheck="false"></textarea>
    </div>
</div> 